@font-face {
  font-family: 'ubuntumedium';
  src: url('fonts/ubuntumedium.woff2') format('woff2'),
      url('fonts/ubuntumedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntumebold';
  src: url('fonts/ubuntubold.woff2') format('woff2'),
      url('fonts/ubuntubold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #070707;
  font-family: 'ubuntumedium', serif;
  font-size: 24px;
  line-height: 28px;
}

*, html, body {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

/* header */
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header__hamburder  {
  display: none;
}

.header__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__link {
  padding: 15px 30px;
  font-family: 'ubuntumebold', serif;
  color: #828282;
  text-decoration: none;
  transition: color ease-in .4s;
}

.header__item:last-child .header__link{
  padding-right: 0;
}

.header__link:hover {
  color: #000000;
}