@font-face {
  font-family: 'ubuntumedium';
  src: url('fonts/ubuntumedium.woff2') format('woff2'),
      url('fonts/ubuntumedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntubold';
  src: url('fonts/ubuntubold.woff2') format('woff2'),
      url('fonts/ubuntubold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #070707;
  font-family: 'ubuntumedium', serif;
  font-size: 24px;
  line-height: 28px;
}

*, html, body {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header__hamburger  {
  display: none;
}

.header__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__link {
  padding: 15px 30px;
  font-family: 'ubuntubold', serif;
  color: #828282;
  text-decoration: none;
  transition: color ease-in .4s;
}

.header__item:last-child .header__link{
  padding-right: 0;
}

.header__link:hover {
  color: #000000;
}

/* primary */

.primary {
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 60px;
}

.primary__info {
  display: flex;
  margin-bottom: 35px;
}

.primary__title {
  max-width: 240px;
  margin: 0;
  font-family: 'ubuntubold';
  font-size: 48px;
  line-height: 55px;
}

.primary__text {
  max-width: 240px;
  margin: 0;
  padding-top: 10px;
}

.primary__image-user {
  background-color: #f6f6f6;
  text-align: center;
  line-height: 0;
}

/* about */
.about {
  background-color: #f6f6f6;
  padding: 90px 0 60px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: 'ubuntubold';
  font-size: 48px;
  line-height: 55px;
  text-align: center;
}

.title::before,
.title::after {
  content: '';
  margin: 0 20px;
  height: 4px;
  width: 30px;
  background-color: #828282;
}

.about__title {
  margin-bottom: 50px;
}

.about__info {
  padding: 0 80px;
}

.about__text {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}

/* skills */
.skills {
  padding: 60px 0 125px;
  text-align: center;
}

.skills__title {
  margin-bottom: 50px;
}

.skills__text {
  margin: 0;
  margin-bottom: 60px;
}

.skills__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skills__item {
  align-self: flex-end;
}

.skill__name {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 36px;
}

.star {
  display: inline-block;
  width: 22px;
  height: 20px;
  margin-right: 9px;
  background-image: url('./img/star.png');
}

.star--active {
  background-image: url('./img/star-active.png');
}

.star:last-child {
  margin-right: 0;
}

/* portfolio */
.portfolio {
  padding: 90px 0 70px;
  background-color: #f6f6f6;
  text-align: center;
}

.portfolio__title {
  margin-bottom: 50px;
}

.portfolio__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.portfolio__item {
  margin-bottom: 25px;
}

.portfolio__item:last-child {
  margin-bottom: 0;
}

.portfolio__image {
  margin-bottom: 25px;
}

.portfolio__link {
  color: #070707;
  transition: all linear .4s;
}


.portfolio__link:hover {
  color: #828282;
}

/* footer */
.footer {
  padding: 90px 0 60px;
  text-align: center;
}

.footer__title {
  margin-bottom: 50px;
}

.footer__desc {
  margin: 0;
  margin-bottom: 50px;
}

.btn {
  display: inline-block;
  padding: 12px 43px;
  font-family: 'ubuntubold';
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  border-radius: 25px;
}

.btn:active {
  background-color: rgba(0, 0, 0, .85);
}

.footer__btn {
  margin-bottom: 50px;
}

.social__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__social {
  margin-bottom: 50px;
}

.social__item {
  margin-right: 30px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
  width: 75px;
  height: 75px;
  font-size: 0;
}

.social__link--vk {
  background-image: url('./img/vk.png');
}

.social__link--telega {
  background-image: url('./img/telegram.png');
}

.social__link--inst {
  background-image: url('./img/instagram.png');
}

.footer__text {
  font-size: 18px;
  line-height: 21px;
  color: #828282;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .75);
  overflow: auto;
}

.modal--active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__wrap {
  width: 850px;
  background-color: #ffffff;
}

@media (max-width: 1000px) {
  .container {
    width: 100%;
  }

  .header__link {
    padding: 15px 10px;
  }
}

@media (max-width: 768px) { 
  .header__list {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    padding: 40px 30px;
    background-color: #ffffff;
    transform: translateY(-100%);
    transition: transform ease-in .4s;
    z-index: 5;
  }

  .header__list--active {
    transform: translateY(0);
  }

  .header__link {
    display: block;
    padding: 25px 0;
    font-size: 34px;
    line-height: 39px;
  }

  .header__hamburger {
    display: block;
  }

  .hamburger {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 50px;
    height: 50px;
    padding: 0;
    font-size: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 6;
  }

  .hamburger::before,
  .hamburger::after {
    content: '';
    position: absolute;
    top: 15px;
    left: 8px;
    width: 35px;
    height: 4px;
    background-color: #000000;
    transition: all ease-in .4s;
    box-shadow: 0 8px 0 0 #000000,
                0 16px 0 0 #000000; 
  }

  .hamburger--active::before {
    top: 25px;
    transform: rotate(45deg);
    box-shadow: none;
  }

  .hamburger--active::after {
    top: 25px;
    transform: rotate(-45deg);
    box-shadow: none;
  }

  /* primary */
  .primary {
    padding-top: 0;
    padding-bottom: 70px;
  }

  .primary__info {
    display: block;
    margin-bottom: 30px;
  }

  .primary__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 20px;
  }

  .primary__text {
    max-width: 190px;
    padding-top: 0;
    font-size: 18px;
    line-height: 21px;
  }

  .title {
    font-size: 36px;
    line-height: 41px;
  }

  .title::before,
  .title::after {
    content: none;
  }

  /* about */
  .about {
    padding: 50px 0 20px;
  }

  .about__text {
    font-size: 18px;
    line-height: 21px;
  }

  .about__info {
    padding: 0 10px;
  }

  /* skills */
  .skills {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .skills__title {
      margin-bottom: 30px;
  }

  .slills__text {
      margin-bottom: 50px;
  }

  .skills__list {
      flex-direction: column;
  }

  .skills__item {
      align-self: auto;
      margin-bottom: 60px;
  }

  .skills__item:last-child {
      margin-bottom: 0;
  }

  .skill__name {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 32px;
  }

  /* portfolio */
  .portfolio {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .portfolio__title {
      margin-bottom: 25px;
  }
  
  .portfolio__item {
    margin-bottom: 30px;
  }

  .portfolio__image {
    margin-bottom: 30px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 21px;
  }

  /* footer */
  .footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .footer__title {
      margin-bottom: 30px;
  }

  .btn {
      font-size: 24px;
      line-height: 28px;
  }
}